<f:layout name="Default" />
<f:section name="Main">

<div class="tx-cecountdown"
    data-time="{data.counter_time}"
    data-format="{days,hours,mins,secs}"
>
    <span class="days"></span>
    <span class="hours"></span>
    <span class="mins"></span>
    <span class="secs"></span>
</div>

<f:asset.script identifier="countdown" src="EXT:ce_counter/Resources/Public/Js/Countdown.js" />

<f:asset.css identifier="countdown">
.tx-cecountdown{
    display: flex;
    justify-content: center;
    border: 1px solid #eee;
}
.tx-cecountdown span{
    display: inline-flex;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
}
@media(min-width:480px){
    .tx-cecountdown span{
        font-size: 2rem;
    }
}
</f:asset.css>

</f:section>
